.detail__items {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 24px;
    list-style:none;
  }
  
  .detail__list{
    float: left;
  }
  
  .detail__item__img:hover {
    transform: scale(1.1);
  }
  .detail__item__info {
    padding: 20px 30px 30px;
  }
  .detail__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  @media only screen and (min-width: 1024px) {
    .detail__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .detail__item {
      margin-bottom: 2rem;
    }
  }
  .detail__item__img {
          width: 600px;
          height: 400px;
          object-fit: cover;
          margin: 10px 10px 10px 10px;
    }
  
  .detail__main__div{
      display: flex;
      justify-content: center;
  }
  
  .div_left{
    float: left;
    width: 100%;
  }
  
  .container {
    width: 30%;
    box-shadow: 0 4px 5px 0 #00000026;
    position: absolute;
    left: 30%;
  }